.Rproj.user
.Rhistory
.RData
.Ruserdata
*.swp
_book
_bookdown_files
_main.Rmd
*.log
*.Rproj
./*.html
book.tex
*.html
packages.bib
.DS_Store
work/.DS_Store
.positai

# --- 06-interpretable_heat ---
# Raw and processed data
work/06-interpretable_heat/data/raw
work/06-interpretable_heat/data/processed/attributes
work/06-interpretable_heat/data/processed/time_series
work/06-interpretable_heat/data/intermediate
work/06-interpretable_heat/data/results


